@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.1111111111vw;
  background-color: #F5F6F7;
  max-width: 100%;
  overflow-x: hidden;
}

p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5;
}

nav {
  background: rgba(255, 255, 255, 0.39);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(192, 200, 252, 0.2);
  z-index: 2;
}
nav a {
  font-family: "IBM Plex Mono";
  font-size: 1em;
  font-weight: 500;
  color: black;
  text-decoration: none;
  padding: 0 0.25em;
  margin: 0 0.75em;
  transition: color 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}
nav a:hover {
  color: #779BE7;
  text-decoration: underline;
}

h1 {
  color: black;
  font-weight: 600;
  font-size: 4.25em;
  line-height: 1.2;
}

h2 {
  font-size: 2.5em;
  font-weight: 600;
}

section {
  padding: 4em 0;
}

/* Classes */
.right-fixed-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 3.5em;
  z-index: 3;
}
.right-fixed-email a {
  color: #9C9D9E;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "IBM Plex Mono";
  font-size: 0.85em;
  letter-spacing: 0.4;
  position: relative;
  left: 0.125em;
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}
.right-fixed-email a:hover {
  color: #779BE7;
  transform: translateY(-0.25em);
}

.typed-text {
  color: #779BE7;
}

.typed-text::after {
  content: "|";
  display: inline-block;
  -webkit-animation-name: flash;
          animation-name: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: #9C9D9E;
  font-size: 100%;
  font-weight: 300;
  opacity: 1;
}

.nav__container {
  max-width: 77em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.btn {
  padding: 0.385em 1.35em;
  font-size: 1em;
  font-weight: 500;
  font-family: "IBM Plex Mono";
  background-color: #C0C8FC;
  border: 2px solid black;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background-color 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}

.btn:hover {
  background-color: #779BE7;
}

.color-gradient-1 {
  position: absolute;
  right: 0;
  top: -13em;
}

.color-gradient-2 {
  position: absolute;
  top: 22em;
  width: 45em;
}

.orbit-container-1 {
  position: absolute;
  right: 20em;
  top: -16em;
}

.orbit-container-2 {
  position: absolute;
  top: 40em;
  left: -30em;
}

.inner-orbit {
  width: 33em;
  position: absolute;
  left: 3.25em;
  top: 3.25em;
  transform: rotate(125deg);
  -webkit-animation: orbit 46s infinite linear;
          animation: orbit 46s infinite linear;
}

.outer-orbit {
  width: 39.5em;
  position: absolute;
  -webkit-animation: orbit 35s infinite linear;
          animation: orbit 35s infinite linear;
}

@-webkit-keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn-wrap {
  padding-top: 1.75em;
}

.logo {
  width: 7.5em;
}

.hero {
  padding-top: 10em;
}

.container {
  position: relative;
  max-width: 68.75em;
  margin: 0 auto;
  z-index: 1;
}

.illustration {
  width: 25em;
  margin-left: 7em;
}

.style-line {
  height: 1px;
  width: 12em;
  background-color: #9C9D9E;
  margin-left: 1.5em;
}

.short-line {
  height: 6em;
  width: 2px;
  background-color: #bababa;
  margin-top: 1.25em;
}

.heading-wrap {
  display: flex;
  align-items: center;
}

.tag__wrap {
  padding-top: 1em;
  width: 80%;
}

.tag {
  padding: 0.25em 0.75em;
  background-color: #779BE7;
  display: inline-block;
  border-radius: 0.25em;
  color: white;
  margin-right: 0.25em;
  margin-bottom: 0.5em;
}

.headshot {
  width: 17em;
  border-radius: 0.25em;
  margin-left: 5em;
  position: relative;
  top: 3em;
  z-index: 2;
}

.headshot__square {
  width: 17em;
  position: absolute;
  top: 4em;
  right: -1em;
}

.headshot__container {
  position: relative;
}

/* Global Modifiers */
.is--btm-margin {
  margin-bottom: 0.35em;
}

.is--split {
  display: flex;
  justify-content: start;
  align-items: center;
}

.is--47ch {
  max-width: 47ch;
}

.is--54ch {
  max-width: 54ch;
}

@media all and (max-width: 1080px) {
  body {
    font: 0.9888em;
  }
}/*# sourceMappingURL=style.css.map */