@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.1111111111vw;
  background-color: #F5F6F7;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5;
}

nav {
  background: rgba(255, 255, 255, 0.39);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(192, 200, 252, 0.2);
  z-index: 2;
}
nav a {
  font-family: "IBM Plex Mono";
  font-size: 1em;
  font-weight: 500;
  color: black;
  text-decoration: none;
  padding: 0 0.25em;
  margin: 0 0.75em;
  transition: color 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}
nav a:hover {
  color: #779BE7;
  text-decoration: underline;
}

h1 {
  color: black;
  font-weight: 600;
  font-size: 4.25em;
  line-height: 1.2;
}

h2 {
  font-size: 2.5em;
  font-weight: 600;
}

h3 {
  font-size: 2.05em;
  font-weight: 600;
}

section {
  padding: 4em 0;
}

footer {
  background: #779BE7;
  color: white;
  padding: 2em 0;
}
footer p {
  font-weight: 400;
  letter-spacing: 1px;
}

form {
  margin: 2em 0 0 -0.45em;
}
form span {
  font-size: 1.85em;
  font-weight: 600;
}

label {
  font-size: 1.85em;
  font-weight: 600;
  margin: 0 0.25em;
}

input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.85em;
  font-family: "Titillium Web";
  border-bottom: 2px solid black;
  text-align: center;
}

input[type=email] {
  width: 15em;
}

select {
  padding: 0 1em;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: "Titillium Web";
  font-size: 1.85em;
  color: #757575;
  text-align: center;
  border-bottom: 2px solid black;
  margin-bottom: 1em;
}

body::-webkit-scrollbar {
  width: 0.85em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(193, 193, 193, 0.5843137255);
  border-radius: 0.25em;
}

/* Classes */
.right-fixed-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 3.5em;
  z-index: 3;
}
.right-fixed-email a {
  color: #000000;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "IBM Plex Mono";
  font-size: 0.85em;
  letter-spacing: 0.4;
  text-decoration: none;
  position: relative;
  left: 0.125em;
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}
.right-fixed-email a:hover {
  color: #779BE7;
  transform: translateY(-0.25em);
}

.left-fixed-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 3.5em;
  z-index: 3;
}
.left-fixed-icons li {
  width: 1.5em;
  height: 1.5em;
  background-size: cover;
  display: inline-block;
  transition: transform 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}
.left-fixed-icons li:hover {
  transform: translateY(-0.25em);
}
.left-fixed-icons .github {
  background-image: url(../images/github-icon.svg);
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: 3;
}
.left-fixed-icons .github:hover {
  background-image: url(../images/github-icon-clr.svg);
}
.left-fixed-icons .linkedin {
  background-image: url(../images/linkedin-icon.svg);
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}
.left-fixed-icons .linkedin:hover {
  background-image: url(../images/linkedin-icon-clr.svg);
}

.typed-text {
  color: #779BE7;
}

.typed-text::after {
  content: "|";
  display: inline-block;
  -webkit-animation-name: flash;
          animation-name: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: #9C9D9E;
  font-size: 100%;
  font-weight: 300;
  opacity: 1;
}

.nav__container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.btn {
  padding: 0.385em 1.35em;
  color: #000000;
  font-size: 1em;
  font-weight: 500;
  font-family: "IBM Plex Mono";
  background-color: #C0C8FC;
  border: 2px solid black;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background-color 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}

.btn:hover {
  background-color: #779BE7;
  text-decoration: none;
  color: #000000;
}

.btn-alt {
  padding: 0.385em 1.35em;
  font-size: 1em;
  font-weight: 500;
  font-family: "IBM Plex Mono";
  background-color: transparent;
  border: 2px solid black;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background-color 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}

.btn-alt:hover {
  background-color: white;
}

.color-gradient-1 {
  position: absolute;
  right: 0;
  top: -13em;
}

.color-gradient-2 {
  position: absolute;
  top: 22em;
  width: 45em;
}

.orbit-container-1 {
  position: absolute;
  right: 20em;
  top: -16em;
}

.orbit-container-2 {
  position: absolute;
  top: 40em;
  left: -30em;
}

.inner-orbit {
  width: 33em;
  position: absolute;
  left: 3.25em;
  top: 3.25em;
  transform: rotate(125deg);
  -webkit-animation: orbit 46s infinite linear;
          animation: orbit 46s infinite linear;
}

.outer-orbit {
  width: 39.5em;
  position: absolute;
  -webkit-animation: orbit 35s infinite linear;
          animation: orbit 35s infinite linear;
}

@-webkit-keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn-wrap {
  padding-top: 1.75em;
}

.logo {
  width: 7.5em;
}

.hero {
  padding-top: 10em;
}

.container {
  position: relative;
  max-width: 68.75em;
  margin: 0 auto;
  z-index: 1;
}

.illustration {
  width: 25em;
  margin-left: 7em;
}

.style-line {
  height: 1px;
  width: 12em;
  background-color: #9C9D9E;
  margin-left: 1.5em;
}

.style-line-alt {
  height: 1px;
  width: 100%;
  background-color: #9C9D9E;
}

.style-line-prpl {
  height: 2px;
  width: 100%;
  background-color: #779BE7;
}

.short-line {
  height: 5em;
  width: 2px;
  background-color: #000000;
  margin-top: 1.25em;
}

.heading-wrap {
  display: flex;
  align-items: center;
}

.heading-wrap-alt {
  display: inline-block;
}

.tag__wrap {
  padding-top: 1em;
  width: 80%;
}

.tag {
  padding: 0.25em 0.75em;
  background-color: #779BE7;
  display: inline-block;
  border-radius: 0.25em;
  color: white;
  margin-right: 0.25em;
  margin-bottom: 0.5em;
}

.headshot {
  width: 17em;
  border-radius: 0.25em;
  margin-left: 5em;
  position: relative;
  top: 3em;
  z-index: 2;
}

.headshot__square {
  width: 17em;
  position: absolute;
  top: 4em;
  right: -1em;
}

.headshot__container {
  position: relative;
}

.project__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0 5em 0;
}

.project__thumbnail-wrap {
  position: relative;
}

.project__thumbnail {
  width: 34em;
  position: relative;
  z-index: 2;
  border-radius: 0.3em;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.thumbnail-bg-square {
  width: 34em;
  position: absolute;
  left: 1.25em;
  top: 1.25em;
}

.thumbnail-bg-square-alt {
  width: 34em;
  position: absolute;
  right: 1.25em;
  top: 1.25em;
}

.alt-tag {
  padding: 0.2em 0.65em;
  font-size: 0.85em;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 0.25em;
  color: rgb(0, 0, 0);
  margin-right: 0.25em;
  margin-bottom: 0.5em;
}

.project__links-wrap {
  display: flex;
  margin-top: 0.75em;
}

.project__icon {
  width: 1.15em;
  margin-right: 0.35em;
}

.project__link-item {
  margin-right: 1em;
  display: flex;
  align-items: center;
}
.project__link-item a {
  font-size: 1.1em;
  color: black;
  font-weight: 600;
  transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}
.project__link-item a:hover {
  color: white;
}

.project__tag-wrap {
  margin: 0.5em 0;
}

.contact__info-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 4.5em;
}

.contact__item {
  display: flex;
  align-items: center;
}
.contact__item img {
  width: 1.75em;
  margin-right: 0.8em;
}
.contact__item p {
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Titillium Web";
}
.contact__item a {
  text-decoration: none;
  color: black;
  transition: color 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}
.contact__item a:hover {
  color: #779BE7;
}

.project__page-image-wrap {
  position: relative;
}
.project__page-image-wrap img {
  position: relative;
  width: 35em;
  border-radius: 0.25em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  z-index: 2;
}
.project__page-image-wrap div {
  width: 100%;
  height: 98%;
  border: 0.25em solid #779BE7;
  border-radius: 0.25em;
  position: absolute;
  top: 1em;
  right: 1em;
}

.link-wrap {
  margin-bottom: 1.5em;
}
.link-wrap a {
  color: #779BE7;
  font-weight: 600;
  text-decoration: none;
}

.return-link {
  color: #779BE7;
  font-weight: 600;
  text-decoration: none;
}

.project__page-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6em;
}

.project__page-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 5em;
}

.mobile-nav {
  display: none;
}

/* Global Modifiers */
.is--btm-margin {
  margin-bottom: 0.35em;
}

.is--100-width {
  width: 100%;
}

.is--prpl-hover:hover {
  color: #779BE7 !important;
}

.is--split {
  display: flex;
  justify-content: start;
  align-items: center;
}

.is--flex-end {
  align-items: end;
}

.is--47ch {
  max-width: 47ch;
}

.is--54ch {
  max-width: 54ch;
}

.is--icon-btm-margin {
  margin-bottom: 1em;
}

.is--clr-bg {
  margin: 4em 0 0 0;
  background-color: #C0C8FC;
}

.is--column-layout {
  display: flex;
  flex-direction: column;
}

.is--center-align {
  text-align: center;
}

.is--right-align {
  text-align: end;
}

.is--btm-pad {
  padding-bottom: 6em;
}

@media only screen and (min-width: 1580px) {
  body {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 991px) {
  body {
    font-size: 12px;
  }

  .nav__container {
    max-width: 90%;
  }

  .container {
    max-width: 85%;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.75em;
  }

  p {
    font-size: 1.15em;
  }

  label {
    font-size: 1.5em;
  }

  input {
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 1em;
  }

  select {
    font-size: 1.5em;
    text-align: left;
  }

  nav a {
    font-size: 1.15em;
  }

  .btn {
    border: 1px solid black;
    font-size: 1.15em;
  }

  .right-fixed-email {
    display: none;
  }

  .left-fixed-icons {
    display: none;
  }

  .orbit-container-1, .orbit-container-2 {
    display: none;
  }

  .color-gradient-1, .color-gradient-2 {
    display: none;
  }

  .project__wrap {
    flex-direction: column;
    align-items: flex-start;
    margin: 2em 0;
  }

  .project__thumbnail-wrap {
    display: none;
  }

  .tag__wrap {
    width: 100%;
  }

  .illustration {
    display: none;
  }

  .is--split {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact__info-wrap {
    flex-direction: column;
  }

  .contact__item {
    margin-bottom: 1em;
  }

  .project__page-top {
    flex-direction: column;
  }

  .project__page-image-wrap {
    margin-top: 2em;
  }
  .project__page-image-wrap div {
    display: none;
  }
  .project__page-image-wrap img {
    width: 90%;
  }

  .project__page-content {
    align-items: flex-start;
  }
}
@media screen and (max-width: 536px) {
  nav {
    width: 95%;
    margin: 0 auto;
    top: 0.5em;
    border-radius: 1em;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
  }
  nav .btn {
    display: none;
  }

  .nav__link {
    display: none;
  }

  .mobile-menu {
    position: relative;
    width: 2.25em;
    height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .m-line-1 {
    height: 3px;
    border-radius: 22%;
    width: 100%;
    background-color: #779BE7;
    transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .m-line-2 {
    height: 3px;
    width: 60%;
    background-color: #779BE7;
    transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .m-line-3 {
    height: 3px;
    width: 100%;
    background-color: #779BE7;
    transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .m-line-1-active {
    position: relative;
    top: 11px;
    transform: rotatez(45deg);
  }

  .m-line-2-active {
    width: 0%;
  }

  .m-line-3-active {
    position: relative;
    bottom: 10px;
    transform: rotatez(135deg);
  }

  .mobile-nav {
    position: fixed;
    inset: 0 0 0 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    display: flex;
    justify-content: end;
    transition: all 0.5s linear;
  }
  .mobile-nav ul {
    width: 60%;
    height: 100%;
    background-color: whitesmoke;
    list-style: none;
    box-shadow: -4px 0px 18px rgba(0, 0, 0, 0.341);
    padding: 8em 2em;
  }
  .mobile-nav li {
    margin: 5em 0;
    text-align: center;
  }
  .mobile-nav a {
    font-family: "IBM Plex Mono";
    font-size: 1.5em;
    font-weight: 500;
    color: black;
    text-decoration: none;
    padding: 0 0.25em;
    margin: 0 0.75em;
    transition: color 0.25s cubic-bezier(0.25, 1, 0.5, 1);
  }
  .mobile-nav a:hover {
    color: #779BE7;
    text-decoration: underline;
  }
  .mobile-nav span {
    width: 100%;
    height: 100%;
  }
  .mobile-nav .btn {
    padding: 0.385em 1.35em;
    color: #000000;
    font-size: 1.5em;
    font-weight: 500;
    font-family: "IBM Plex Mono";
    background-color: #C0C8FC;
    border: 2px solid black;
    border-radius: 0.25em;
    cursor: pointer;
    transition: background-color 0.25s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .menu-open {
    background-color: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    box-shadow: none;
    border: none;
  }

  .menu-hide {
    display: none;
  }

  .link-wrap {
    font-size: 1.15em;
  }

  .return-link {
    font-size: 1.15em;
  }

  .btn-alt {
    border: 1px solid black;
    font-size: 1.15em;
  }
}/*# sourceMappingURL=style.css.map */